:root {
    --naranja: 236, 102, 25;
    /* #EC6619 */
    --verde: 148, 193, 33;
    /* #94C121 */
    --naranja-claro: 240, 140, 40;
    /* #F08C28 */
    --rojo: 235, 89, 85;
    /* #EB5955 */
    --turquesa: 28, 165, 171;
    /* #1CA5AB */
    --turquesahex: #1CA5AB;
    --turquesa-oscuro: #25888d;
}

/*========================MODAL EVALUATORS========================*/
/* MAIN MODAL */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgb(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 16px;
}

/* MODAL BOX */
.modal-box {
    width: 60dvh;
    max-width: 86%;
    background: #fff;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, .35);
    font-family: inherit;
    color: #113d40;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.modal-title {
    margin: 12px 6px 30px;
    font-size: 1.8rem;
    font-weight: 600;
    color: #15797e;
    font-family: "Oswald";
    text-align: center
}

.modal-desc {
    margin: 0 6px 12px;
    color: #32656c;
    font-size: 0.95rem;
}

/* CONTAINER OR DROPWODN */
.modal-grid {
    display: grid;
    gap: 10px;
}

.modal-row {
    display: flex;
    gap: 10px;
    align-items: center;
}

.modal-col {
    flex: 1;
}

.modal-select {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #aac8ca;
    background: #fff;
    appearance: menulist;
    font-size: 1rem;
}

/* CONTAINER BUTTONS */
.modal-btns {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 12px;
}

.btn {
    padding: 8px 12px;
    border-radius: 15px;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    width: 90%;
    font-size: 1.35rem;
}

.btn-confirm {
    background: rgb(var(--turquesa));
    color: #fff;
}

/* focus accesible */
.modal-select:focus,
.btn:focus {
    outline: 3px solid rgba(11, 116, 222, 0.15);
    outline-offset: 2px;
}

/* responsive tweaks */
@media (max-width: 460px) {
    .modal-box {
        padding: 14px;
    }

    .modal-title {
        font-size: 1rem;
    }

    .modal-desc {
        font-size: .9rem;
    }
}

/*========================EVALUATORS SECTION========================*/
.evaluatorsdropdowns {
    display: flex;
    gap: 5px;
    padding: 1px;
    margin: 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 600px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);

}

/* "EVALUATOR" TEXT */
.evaluatorsdropdowns h2 {
    font-family: "Oswald";
    font-weight: 800;
    font-size: 1.3rem;
    color: var(--turquesa-oscuro);
    margin: 0;
}

/* "id" TEXT */
.evaluatorsdropdowns h3 {
    font-family: "Oswald";
    font-weight: 500;
    font-size: 1.3rem;
    color: var(--turquesa-oscuro);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

/* ACTUAL EVALUATOR DROPDOWN */
#evaluatorsDropdown {
    width: auto;
    min-width: 200px;
    border: none;
    border-radius: 10px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 1.2rem;
    background-color: transparent;
    color: #25888d;
    text-align: left;
    padding: 5px 5px 5px 5px;
}

/*========================EXTRA EVAL AREAS========================*/

.additionalComment {
    color: rgb(var(--turquesa));
    background-color: rgb(var(--turquesa), 0.05);
    width: 100%;
}

/* skill test and final score table */
#exitEvalTable {
    table-layout: fixed;
    padding: 0;
    margin: -20px 0 60px 0;
    width: 100%;
}

/* title of table */
.exitevaltitle {
    font-family: "Oswald";
    color: var(--turquesa-oscuro);
    font-weight: 700;
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    padding: 10px 0;
    background-color: rgb(var(--turquesa), 0.04);
}


/* skill test <td> */
.skilltesttd {
    padding: 6px 10px;
    vertical-align: middle;
    background-color: rgb(var(--turquesa), 0.04);
}

.skilltest-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 0 0 10px;
}

.skilltest-wrapper label {
    font-family: "Montserrat";
    font-size: 0.95rem;
    font-weight: 700;
    color: var(--turquesa-oscuro);
}

.skilltest-input {
    width: 40%;
    text-align: center;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: 600;
    color: var(--turquesa-oscuro);
    padding: 2px 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px dotted var(--turquesahex);
}



/* Quitar flechas en Chrome, Edge, Safari */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Quitar flechas en Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input:active,
input:focus {
    outline: none;
}

textarea:active,
textarea:focus {
    outline: 1px solid var(--turquesahex);
    ;
}


/* score final */
.finalscore {
    font-family: "Oswald";
    /* color: var(--turquesa-oscuro); */
    color: var(--turquesa-oscuro);
    font-weight: 700;
    text-align: center;
    width: 100%;
    font-size: 1.35rem;
    padding: 0;
    margin: 5px 0 -5px;
}

.arrow {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 20px;
}

.extraarea select {
    width: 100%;
    text-align: left;
}


#absentBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.extra-info {
    margin: -40px 0 40px 0;
    padding: 0;
    text-align: center;
    font-size: 0.95rem;
    font-family: Montserrat;
    color: #1CA5AB;
    font-weight: bold;
}


.extraInfoAddOns {
    color: #25888d;
    font-weight: bold;
    text-align: center;
    font-family: roboto condensed;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: rgb(28, 165, 171, 0.04);
    font-size: 18px;
    user-select: none;
}

.extraInfoAddOns:hover {
    transform: scale(1.1);
}

input {
    accent-color: #3ea621;
    width: 1rem;
    height: 1rem;
}

/*========================  ========================*/

#backFromCopy {
    width: 50%;
    background-color: #2e9da3;
    color: white;
    min-width: 80px;
    height: 3rem;
}

.preview-wrapper,
.preview-wrapper p {
    color: black;
    font-weight: 500;
}


/*=================== Condicionados y coaching opportunity =====================*/

.final-container fieldset {
    margin: 12px auto;
}

.coachingOpportunity label {
    display: inline-block;
    color: #25888d;
    font-size: 1.5rem;
    font-family: roboto condensed;
}

.coachingOpportunity legend {
    font-size: 2rem;
    color: #25888d;
    font-weight: bold;
    text-align: center;
    font-family: roboto condensed;
}

.coachingOpportunity {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem 15px;
    border: 1px solid #1CA5AB;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
}


.coachingOpportunity label {
    font-size: 1.1rem;
    color: #17787d;
    font-weight: 500;
    font-family: Montserrat;
    text-align: left;
}

.coachingOpportunity input {
    margin: 0 20px;
}


/*=================== Diagnostic Evaluations =====================*/
/* fieldset */
.diagnosticEval {
    margin: 0 auto 1.5rem;
    padding: 0.3rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    border-radius: 25px;
    border: none;
}

.twocols {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

/* AOI text */
.twocols h2 {
    width: auto;
}

.twocols p {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    color: #0f4a4d;
    font-family: "Segoe UI";
    width: 1fr;
}

/* displayed name */
.diagnosticEval label {
    display: inline-block;
    font-size: 0.8rem;
    color: var(--turquesa-oscuro);
    font-family: "Montserrat";
    font-weight: 600;
    text-align: center;
    background-color: rgba(var(--turquesa), 0.1);
    user-select: none;
    border-radius: 20px;
    padding: 1rem 0.7rem;
    height: 1fr;
    transition: all 0.3s ease;
    align-content: center;
}

.diagnosticEval .selected {
    background-color: rgba(var(--turquesa), 0.8);
    color: white;
    transition: all 0.3s ease;
    font-weight: 700;
}

.diagnosticEval .unselected {
    background-color: rgb(138, 138, 138, .1);
    color: #919191;
    transition: all 0.3s ease;
    font-weight: 400;

}

/* checkbox */
.diagnosticEval input {
    display: none;

}


/*======================== SOUNDBOARD ========================*/
/* floating button */
.soundboardBtn {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 1;
    width: 50px;
    height: 45px;
    border-radius: 0 20px 20px 0;
    background-color: #1CA5AB50;
    display: flex;
    align-items: center;
    justify-content: right;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}

.soundboardBtn img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* CLOSE BUTTON */
.soundboard .close {
    width: 100%;
    height: auto;
    font-size: 15px;
    border: none;
    margin-top: -5px;
    text-shadow: none;
    cursor: pointer;
    color: #148e94;
    background-color: #ecf2f3;
    transition: all 0.5s ease;
}

.soundboard .close:hover {
    background: #148e94;
    color: white;
    transform: scale(1.05);
}

/* ------------- PANEL PRINCIPAL --- */
.soundboard {
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 2;
    width: 100px;
    height: 300px;
    border-radius: 0 20px 20px 0;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

/* contains section btns on open */
.wrapping {
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

/* --- main BOTONES on open --- */
.category-btn {
    width: 100%;
    height: 100%;
    background-color: #148e9490;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #b9dcdf90;
    border-radius: 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: Montserrat;
    text-shadow: 0 0 10px rgba(27, 111, 97, 0.91);
}

/* --- EXPANSIÓN AL SELECCIONAR added to soundboard main--- */
.soundboard.expanded {
    max-width: 300px;
    width: 250px;
    transition: all 0.4s ease-in-out;
    height: auto;
    max-height: 90%;
    min-width: 200px;
    /* overflow: scroll; */
    overflow: hidden;
}

/* category buttons holder when expanded */
.wrapped {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.soundboard .selected {
    background-color: #148e94;
    width: calc(100%/3);
    color: #fff;
    transform: scale(1.2);
    opacity: 1;
    transition: all 0.3s ease;
    padding: 10px 5px;
    box-shadow: 0 0 10px rgb(255, 255, 255, 0.6);
    font-size: 1rem;
    z-index: 5;
}

.soundboard .unselected {
    background-color: #148e9430;
    opacity: 0.6;
    color: #148e94;
    font-weight: 800;
    padding: 10px 5px;
    transition: all 0.3s ease;
    width: calc(100%/4);
    text-align: center;
    text-shadow: none;
    border: none;
    font-size: 0.8rem;
}

/* SCROLL IS HERE */
/* contains h3 and buttons with tags */
.category-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
    overflow-y: auto;
}

/* REMOVED H3 */
.stopSounds {
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 10px 15px;
    background: #8d1616;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 250px;
    z-index: 9999;
    animation: slide-in;
}

/* //btn main section */
.press-button {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    gap: 30px 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    animation: fadeIn 0.2s ease;
    min-height: 200px;
    overflow-x: hidden;
}

.press-button div {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;
    height: 140px;
}

/* //actual buttons */
.press-button button {
    width: 100px;
    border-radius: 50%;
    aspect-ratio: 1;
    background: url('SoundBoard/btnup.png') no-repeat;
    background-size: 100%;
    transition: tranform 1s ease-in-out;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    filter: brightness(var(--brightness));
}

.press-button button img {
    width: 70%;
    object-fit: contain;
    border-radius: 50%;
    transform: translatey(-15%);
}

/* text */
.press-button h5 {
    font-size: 1rem;
    font-weight: bold;
    color: #148e94;
    text-align: center;
    margin: 0;
    width: 95%;
    padding: 0;
    font-family: "Sour Gummy";
    line-height: 1rem;
}

.press-button h5 p {
    font-size: 0.8rem;
    font-weight: bold;
    color: #148e94;
    text-align: center;
    margin: -5px;
    padding: 0;
    font-family: "Oswald";

}

.press-button button:hover {
    transform: scale(1.02);
    filter: brightness(1.08);
}

.press-button button:active {
    background: url('SoundBoard/btndown.png') no-repeat;
    background-size: 100%;
    transition: background-color 0.3s ease-in-out;
}

.press-button button:active img {
    transform: translatey(-10%);
}

.press-button button:focus {
    border: none;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --btn1: #cdb4db;
    --btn2: #ffafcc;
    --btn3: #a2d2ff;
    --btn4: #ffcc8a;
    --btn5: #ff999c;
    --brightness: 1.1;
}

.press-button div:nth-child(5n + 1) button {
    background-color: var(--btn1);
}

.press-button div:nth-child(5n + 2) button {
    background-color: var(--btn2);
}

.press-button div:nth-child(5n + 3) button {
    background-color: var(--btn3);
}

.press-button div:nth-child(5n + 4) button {
    background-color: var(--btn4);
}

.press-button div:nth-child(5n + 5) button {
    background-color: var(--btn5);
}



/* --- ANIMACIONES DE ENTRADA Y SALIDA --- */
.slide-in {
    animation: slideFromLeft 0.4s ease forwards;
}

.slide-out {
    animation: slideToLeft 0.4s ease forwards;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideToLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
        transform: translatey(-5%);
    }

    to {
        opacity: 1;
        transform: scale(1);
        transform: translatey(0);
    }
}


/*========================  ========================*/

.feedbackbutton#ReScheduleEmail {
    background-color: #ffffff;
    border: 1px solid #1CA5AB;
    color: #1CA5AB;
}

/* LIL PREVIEW FROM MODAL */
.smallPreview {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    overflow-y: scroll;
    min-height: 300px;
    max-height: 50vh;
    user-select: none;
    margin: 0 auto;
    border: 5px solid #1CA5AB;
    border-top: none;
    border-radius: 0 0 10px 10px;
    box-sizing: border-box;

}

.smallPreview::-webkit-scrollbar {
    width: 0px;
}

.previewTitle {
    margin: 0 auto 0;
    width: 100%;
    text-align: center;
    background-color: #1CA5AB;
    color: white;
    padding: 5px 0;
    border-radius: 10px 10px 0 0;
}


/*========================  ========================*/
